<div class="row" ng-controller="SearchController">
    <div class="col-md-12">
        <form ng-submit="search()" class="form-inline">
            <div class="form-group">
                <label for="query">Search</label>
                <input type="text" ng-model="queryFromForm" class="form-control" placeholder="Query...">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
        </form>
    </div>
    <div class="col-md-12" ng-show="errors.length > 1">
        <div ng-repeat="error in errors">
            {{error.message}}
        </div>
    </div>
    <div class="col-md-12" ng-show="resultsOpen">
        <div ng-if="results.items.length === 0">
            No results.
        </div>
        <div ng-if="results.items.length > 0">
            <table class="table table-striped table-hover">
                <thead>
                <th>ISBN</th>
                <th>Title</th>
                <th>Contributors</th>
                <th>Publisher</th>
                </thead>
                <tbody>
                <tr ng-repeat="item in results.items">
                    <td>{{item.classification[0].id}}</td>
                    <td>{{item.title}}</td>
                    <td></td>
                    <td>{{item.publisher}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>