<div class="row" ng-controller="SearchController">
    <div class="col-md-12">
        <form ng-submit="search()" class="form-inline">
            <div class="form-group">
                <label for="query">Search</label>
                <input type="text" ng-model="queryFromForm" class="form-control" placeholder="Query...">
            </div>
            <div>
                <a ng-click="(advancedSearchOpen === true) ? advancedSearchOpen = false : advancedSearchOpen = true"><i class="fa" ng-class="(advancedSearchOpen === true) ? 'fa-angle-up' : 'fa-angle-down';"></i> Advanced Search</a>
                <div ng-show="advancedSearchOpen">
                    <div class="form-group">
                        <label for="bookTitle">Title</label>
                        <input type="text" class="form-control" placeholder="Wuthering Heights"/>
                    </div>
                    <div class="form-group">
                        <label for="bookTitle">Publisher</label>
                        <input type="text" class="form-control" placeholder="Harper Perennial"/>
                    </div>
                    <div class="form-group">
                        <label for="bookTitle">Contributors</label>
                        <input type="text" class="form-control" placeholder="Emily Brontë"/>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i> Search</button>
        </form>
    </div>
    <div class="col-md-12" ng-show="errors.length > 1">
        <div ng-repeat="error in errors">
            {{error.message}}
        </div>
    </div>
    <div class="col-md-12" ng-show="resultsOpen">
        <div ng-if="results.items.length === 0">
            No results.
        </div>
        <div ng-if="results.items.length > 0">
            <table class="table table-striped table-hover">
                <thead>
                <th>ISBN</th>
                <th>Title</th>
                <th>Contributors</th>
                <th>Publisher</th>
                </thead>
                <tbody>
                <tr ng-repeat="item in results.items">
                    <td>{{item.classification[0].id}}</td>
                    <td>{{item.title}}</td>
                    <td></td>
                    <td>{{item.publisher}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>